* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  background-color: rgb(255, 111, 0);
  padding: 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(101, 101, 101);
  gap: 30px;
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  background-color: #ededed;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card-img1 {
  width: 100%;
  height: 200px;
  object-fit: contain;
  filter: blur(5px);
}

.card-img2 {
  width: 100%;
  height: 200px;
  object-fit: contain;
  filter: brightness(0%);
}

.card-img3 {
  width: 100%;
  height: 200px;
  object-fit: contain;
  filter: contrast(0);
}

.card-img4 {
  width: 100%;
  height: 200px;
  object-fit: contain;
  filter: drop-shadow(3px 3px 3px #000);
}

.card-img5 {
  width: 100%;
  height: 200px;
  object-fit: contain;
  filter: grayscale(100%);
}

.card-img6 {
  width: 100%;
  height: 200px;
  object-fit: contain;
  filter: invert(100%);
}

.card-img7 {
  width: 100%;
  height: 200px;
  object-fit: contain;
  mix-blend-mode: screen;
}

.container-text {
  padding: 15px;
}

.mask1 {
    clip-path: circle();
}
.mask3 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  #mask4 {
    clip-path: url(#svgMask1);
  }

  #mask5 {
    clip-path: url(#svgMask2);
  }
  
  #mask6 {
    clip-path: url(#svgMask3);
  }
.pai img{
    max-width: 255px;
}

.texto-imagem{
  font-weight: 900;
  font-size: 6rem;
  text-transform: uppercase;
  background-image: url('../img/img_5terre.jpg');
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  background-position: center;
  color: transparent;
}

/*deixa transparente o fundo*/
.fundo-vidro{
  background-color: rgba(127, 255, 212, 0.879);
  width: 300px;
  height: 300px;
  backdrop-filter: blur(6px);
}